{% extends 'base.html.twig' %}
{% block title %}
    Édition de {{ contact.lastname}}, {{ contact.firstname }}
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1> Édition de {{ contact.lastname}}, {{ contact.firstname }} </h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}



